<input ng-model="query"></input>
<a href="/pickups/new"><button id="new-pickup-btn" class="btn">New Pickup</button></a>

<table>
  <tr>
    <th>Restaurant Name</th>
    <th>Address</th>
    <th>Food Description</th>
    <th>Quantity (# meals)</th>
    <th>Closing Time</th>
  </tr>
  <tr ng-repeat="pickup in pickups | filter: query | orderBy:orderProp">
    <td>{{pickup.restaurant.name}}</td>
    <td>{{pickup.restaurant.address}}</td>
    <td>{{pickup.food_description}}</td>
    <td>{{pickup.meals}}</td>
    <td>{{pickup.closing_time | date: 'short'}}</td>
  </tr>
</table>


