<!-- <div id="map-canvas"></div>

<input id="pac-input" class="controls" type="text"
    placeholder="Enter your restaurant">
<input type="submit" id='submit-map' class="controls"></input>
 -->

<div class="container">
  <div id="daform" class="darkblue">
    <form method="POST" class="form-horizontal" role="form" action="/pickups">
      <input type="hidden" name="restaurant_data" id="hidden"></input>
      <div class="form-group">
          <label class="col-sm-4" for="food_description">Food Description:</label>
          <div class="col-sm-8">
            <textarea cols="40" id="food_description" placeholder="Describe your food here..." name="pickup[food_description]"></textarea>
          </div>       
      </div>

      <div class="form-group">
          <label for="meals" class="col-sm-4">Estimated Number of Meals</label>
          <div class="col-sm-8">
            <input type="number" name="pickup[meals]">
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-4" for="closing_time">Closing Time</label>
          <div class="col-sm-8">
            <input id="datePicker" type="date" name="pickup[closing_time][date]" class="date"/>
            <input id="timePicker" type="time" name="pickup[closing_time][time]" />
          </div>
      </div>

      <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit">Create new Pickup</button>
          </div>
      </div>
    </form>
  </div>  
</div>


<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/pickups.js"></script>
<script type="text/javascript">
 
$(document).ready(function() {
  var $form = $(".daform").hide();
  var $map = $('#map-canvas');

  $('#submit-map').on('click', function() {
    
    if ($("#hidden").attr("value") && $("#pac-input").val()){
      $map.fadeOut('medium', function() {
        $form.fadeIn('slow');
      });
    } else {
      $("#pac-input").addClass("input-error");
    }
  });

  // $('#timePicker').timepicker({ 'scrollDefaultNow': true });
  // $('#datePicker').datepicker({
  //       'format': 'm/d/yyyy',
  //       'autoclose': true
  //   });

  // $('#datePicker').datepicker("setDate", new Date());
  
  $(".daform").on("submit", function(event) {
    debugger;
      ws.send(JSON.stringify($('form').serializeArray()));
    });

  Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset()); // accounts for timezone differences 
    return local.toJSON();
  });



  $('#timePicker').val(new Date().toDateInputValue().slice(11,16))
  $('#datePicker').val(new Date().toDateInputValue().slice(0,10));
 

});
</script>
