<div id="map-canvas"></div>

<input id="pac-input" class="controls" type="text"
    placeholder="Enter your restaurant">
<input type="submit" id='submit-map' class="controls"></input>

<div id="daform" class="container">
  <form method="POST" class="form" action="/pickups">
    <input type="hidden" name="restaurant_data" id="hidden"></input>

    <div class="form-group">
      <div class="row">
        <label class="col-sm-2" for="food_description">Food Description:</label>
        <div class="col-sm-10">
          <textarea rows="10" cols="50" id="food_description" placeholder="Describe your food here..." name="pickup[food_description]"></textarea>
        </div>
      </div>
     
    </div>

    <div class="form-group">
      <div class="row">
        <label for="meals" class="col-sm-2">Quantity (# of meals)</label>
        <div class="col-sm-10">
          <input type="number" name="pickup[meals]">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label class="col-sm-2" for="closing_time">Closing Time</label>
        <div class="col-sm-10">
          <input type="date" name="pickup[closing_time][date]" class="date"/>
          <input type="time" name="pickup[closing_time][time]" />
        </div>
      </div>
      
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button class="inverse" type="submit">Create new Pickup</button>
    </div>
  </form>

</div>

<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/pickups.js"></script>
<script type="text/javascript">
 
$(document).ready(function() {
  var $form = $(".daform").hide();
  var $map = $('#map-canvas');

  $('#submit-map').on('click', function() {
    
    if($("#hidden").attr("value") && $("#pac-input").val()){
      $map.fadeOut('medium', function() {
        $form.fadeIn('slow');
      });
    }else{
      $("#pac-input").addClass("input-error");
    }
  });

  $('#timePicker').timepicker({ 'scrollDefaultNow': true });
  $('#datePicker').datepicker({
        'format': 'm/d/yyyy',
        'autoclose': true
    });

  $('#datePicker').datepicker("setDate", new Date());
  
  $(".daform").on("submit", function(event) {
    debugger;
      ws.send(JSON.stringify($('form').serializeArray()));
    });

});
</script>
