<div id="map-canvas"></div>

<input id="pac-input" class="controls" type="text"
    placeholder="Enter your restaurant">
<input type="submit" id='submit-map' class="controls"></input>

<input type='hidden' id='poop' data-poop="YES YOU GOT THE POOP"></input>
<div class="daform">
  <form method="POST" action="http://localhost:9292/pickups">
    <input type="hidden" name="place_data" id="hidden"></input>

    <div>
      <label for="closing_time">Closing Time</label>

      <input type="text" id="timePicker" autocomplete="off">
    </div>

    <div>
      <label for="food_description">Food Description:</label>
      <input type="text" name="pickup[food_description]"/>
    </div>

    <div>
      <label for="meals">Quantity (# of meals)</label>
      <select name="pickup[meals]">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
    </div>

    <button type="submit">Create new Pickup</button>
  </form>

</div>

<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript" src="/js/jquery.timepicker.min.js"></script>
<script type="text/javascript">
 
$(document).ready(function() {
  var $form = $(".daform").hide();
  var $map = $('#map-canvas');

  $('#submit-map').on('click', function() {
    $map.fadeOut('slow');
    $form.fadeIn('slow');
  });

  $('#timePicker').timepicker();
  
});
</script>
