
#new-pickup {
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 10px;
}

.input-error {
  border-color: red;
}

#pickup-search {
  font-size: 1.4em;
  color: grey;
  padding: 10px;
  margin: 20px;
}

input:focus {
}

.section {
  z-index: -1;
  height: 700px;
  display: block;
  width: 100%;
}

#section_container {
  margin-top: 50%
}

#angular-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background: url(/img/Manhattanskyline.jpg) 50% 0 repeat fixed;
  width: 100%;
  height: 100%;
  background-size: 100%, 100%;
  // -webkit-filter: blur(2px);
  // -moz-filter: blur(2px);
  // -o-filter: blur(2px);
  // -ms-filter: blur(2px);
  // filter: blur(2px);
}

.container {
  background: #594F4F;
  color: white;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.darkblue {
  background-color: #3A111C;
}

.lightblue {
  background-color: #574951;
}

.darkgreen {
  background-color: #83988E;
}

.lightgreen {
  background-color: #BCDEA5;
}

.greenyellow {
  background-color: #E6F9BC;
}

