
.container {
  display: block;
  left: 50%;
  margin-left: -600px;
  position: absolute;
  z-index: 2;
  background: #594F4F;
  color: white;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#daform {
}

#new-pickup {
  
}

.center-inner {
  text-align: center;
}

.pickup-details {
  margin-top: 50px;
}

.details {
  margin: 20px 0 20px 0;
  padding-left: 100px;
}
.food {
  background-color: #83988E;
}

.restaurant {
  background-color: #3A111C; 

}

.table-button{
  padding: 20px;
  height: 100px;
}

select{
  color: #428bca;
}

.input-error {
  border-color: red;
}

#pickup-search {
  font-size: 1.4em;
  color: grey;
  padding: 10px;
}

 


input:focus {
}

.section {
  z-index: -1;
  height: 500px;
  display: block;
  width: 100%;
}

#section_container {
  position:relative;
}

#big_container {
  width: 100%;
  top: 0px;
  position: absolute;
}

#angular-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background: url(/img/BigManhattanSkyline.jpg) 50% 0 repeat-y fixed;
  width: 100%;
  height: 100%;
/*  background-size: 100%;
*/  // -webkit-filter: blur(2px);
  // -moz-filter: blur(2px);
  // -o-filter: blur(2px);
  // -ms-filter: blur(2px);
  // filter: blur(2px);
}

.darkblue {
  background-color: #3A111C;
}

.lightblue {
  background-color: #574951;
}

.darkgreen {
  background-color: #83988E;
}

.lightgreen {
  background-color: #BCDEA5;
}

.greenyellow {
  background-color: #E6F9BC;
}

