
/* Helper CSS */
.center {
  width: 50%;
  margin: 0 auto;
}

.center-inner {
  text-align: center;
}


/* Pickups Filter/Order by Form */
.search-input {
  font-size: 1.0;
  color: grey;
}

.pickups-header {
  position: relative;
  padding: 10px;
  z-index: 2;
  position: relative;
  margin: 30px 20px 50px 20px;
}

.pickups-header:before {
   content: " ";
   position: absolute;
   z-index: -1;
   top: -10px;
   left: -10px;
   right: -10px;
   bottom: -10px;
   border: 10px solid #BCDEA5;
}

.pickups-header .new-pickup {
  margin-left: 20px;
  border-radius: 10px;
}
.pickups-header submit {
  color: white;
  background-color: #3A111C;
}

.pickups-header .order-by {
  margin-left: 20px;
}

/* New Pickups form*/
.pac-input > * {
  width: 100%;
}
#daform {
  margin: 20px;
  padding: 50px;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#daform label {
  text-align: right;  
  color: white;
}

form {
  color: black;
}

button {
  background-color: #83988E;
}

/* For map input error */
.input-error {
  border-color: red;
}

/* Pickups index and pages that use container*/
h1 {
  text-align: center;
}
.container {
  display: block;
  margin-top: 100px;
  z-index: 3;
  background: #594F4F;
  color: white;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}


#angular-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background: url(/img/BigManhattanSkyline.jpg) 50% 0 repeat-y fixed;
  width: 100%;
  height: 100%;
}


.section {
  z-index: -1;
  height: 500px;
  display: block;
  width: 100%;
}

#section_container {
  position:relative;
}

#big_container {
  width: 100%;
  top: 0px;
  position: absolute;
}



/* Pickups Show Page */

.pickup-details {
  margin-top: 50px;
}

.details {
  margin: 20px 0 20px 0;
  padding-left: 100px;
}

.food {
  background-color: #83988E;
}

.restaurant {
  background-color: #3A111C; 
}




/*background colors*/
.darkblue {
  background-color: #3A111C;
}

.lightblue {
  background-color: #574951;
}

.darkgreen {
  background-color: #83988E;
}

.lightgreen {
  background-color: #BCDEA5;
}

.greenyellow {
  background-color: #E6F9BC;
}

